@import "~antd/dist/antd.css";

:root {
  --background-color-base: #f0f2f2;
  --background-color-secondary: #cdd0d6;
  --border-2: 1px solid #cdd0d6;
}
.red {
  color: red;
}
.green {
  color: green;
}
.frame {
  padding: 4px;
  border-radius: 2px;
  border: var(--border-2);
  box-sizing: border-box;
  background: var(--background-color-base);
  margin-bottom: 8px;
  overflow: hidden;
}

.maxHeight{
  height: 400px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ant-layout-header {
  background: #fff;
  padding: 0px;
}
.fontsize150 {
  font-size: 150%;
}
.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small tfoot > tr > th,
.ant-table.ant-table-small tfoot > tr > td {
  padding: 2px !important;
  font-size: 12px;
  background: var(--background-color-base);
}
.scrollReverse .ant-table-body{
  flex-direction: column-reverse;
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 6px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
